body{
	font-family: Hind, sans-serif;
}

.btn-evo{
	background-color: #aa71d0;
	border-radius: 1px;
	color: #fff;
	font-family: Hind, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 20px 50px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.5s;
}

.btn-evo:hover{
	background-color: #7e39ac;
	color: #fff;
}


/* -------------------------------FOOTER----------------------------------------- */
.copy{
	background-color: #272532;
	padding: 125px 0;
}

.copy p strong{
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
}

.copy p{
	color: #67647b;
	margin-bottom: 55px;
}

.copy div a{
	text-decoration: none;
}

.copyrights{
	background: #211f2a;
	line-height: 55px;
}

.copyrights p{
	color: #8b8b8b;
	font-size: 14px;
	margin: 0;
}

.copyrights p a{
	color: #aa71d0;
	margin-left: 32px;
}






/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}